.contactPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background: radial-gradient(ellipse, rgb(55, 55, 55) 3%, rgb(0, 0, 0) 51%, rgba(0,0,0,1) 69%); */
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 65vw;
  height: 60vh;
  border-radius: 5px;
  border: 2px solid #ffffff11;
  background-color: #41414142;
  backdrop-filter: blur(5px);
  padding: 2%; 
  animation: fadeIn 1s ease-out;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 40%;
  margin-top: -15.5vh;
  padding-left: 4vw;
  animation: fadeIn 1s ease-out;
}

.contact-infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  font-family: "montserrat", sans-serif;
  color: #ffffff;
  animation: fadeIn 1s ease-out;
}

.get-blue {
  color: #219dd3;
}

.my-contact {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 1.2px;
  color: #ffffff;
}

.link-container {
  margin-bottom: 1vh;
}

.contact-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: start;
  margin-top: 3vh;
}

.contact-logos, .contact-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 40%;
  width: 70%;
}

.contact-links {
  margin-left: 1vw;
  gap: 0.5vh;
}

.contact-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1.2px;
  text-align: left;
  margin-top: 0.3vh;
  margin-bottom: 1vh;
}
.linkedin-logo, .github-logo {
  margin-bottom: 1vh;
}

.contact-links a:hover {
  color: #F7480F;
  font-weight: 500;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 25vw;
  margin-left: -5vw;
  padding-top: 4.5vh;
  animation: fadeIn 1s ease-out;
}

.input-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2vh;
}

#input-name, #input-email {
  height: 4vh;
  width: 48%;
  padding: 1%;
  font-family: "montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

#input-message {
  width: 100%;
  height: 20vh;
  resize: none;
  overflow: auto;
  padding: 1%;
  font-family: "montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  z-index: 5;
}

#submit-button {
  margin-top: 4vh;
  align-self: center;
  background-color: #219dd3;
  border: 2px solid #ffffff;
  border-radius: 3px;
  height: 4vh;
  width: 80px;
  font-family: "montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 1000;
  transition: transform 0.1s ease;
}

#submit-button:active {
  transform: scale(0.95);
  background-color: #219dd385;
  border: 2px solid #bcbcbc;
  box-shadow: inset 0 0 10px 2px #00000086;

}

#submit-button:focus {
  outline: none;
}

@media only screen and (max-width: 1400px) {
  .main-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 90%;
    margin: auto;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .contact-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 8vh;
    height: 100%;
    font-family: "montserrat", sans-serif;
    color: #ffffff;
    animation: fadeIn 1s ease-out;
  }

  .contact-title {
    font-size: 1.8rem;
    font-weight: 800;
    letter-spacing: 1.2px;
    color: #ffffff;
    margin-bottom: 0vh;
    margin-left: 0vw;
  }

  .my-contact {
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 1.2px;
    color: #ffffff;
  }

  .contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
    margin-left: 0vw;
    height: 100%;
    width: 60%;
  }

  .contact-logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 0vw;
    gap: 1vw;
  }

  .contact-links {
    display: none;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 2rem 0;
    margin: auto;
  }

  .input-row {
    flex-direction: column;
    align-items: center;
    width: 75vw;
    margin-bottom: 0vh;
    margin-top: -5vh;
  }

  #input-name, #input-email {
    width: 100%;
    margin-bottom: 1.5vh;
  }

  #input-message {
    width: 75vw;
    height: 15vh;
  }

  .contact-logos {
    height: 100%;
    width: 50%;
  }

  #submit-button {
    margin-top: 2vh;
    align-self: center;
    background-color: #219dd3;
    border: 2px solid #ffffff;
    border-radius: 3px;
    height: 4vh;
    width: 80px;
    font-family: "montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 1000;
  }
}