* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
  }
  html {
    height: 100%;
  }
  body {
    min-height: 100%;
    font-family: 'Courier New';
    overflow-x: hidden;
  }
  .custom-cursor {
    position: fixed;
    opacity: 1;
    pointer-events: none;
    mix-blend-mode: difference;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    transition: transform 350ms ease;
    transform: translate(-50%, -50%) scale(.3);
    z-index: 5000;
  }
  .hide-default-cursor {
    cursor: none !important;
  }
  
  .block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    min-height: 300px;
  }
  .block--black {
    background-color: black;
    color: white;
  }
  .block--white {
    background-color: white;
    color: black;
  }
  .block__title,
  .block__link {
    color: currentColor;
  }
  .block__title {
    margin-bottom: 1em;
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
  }
  .block__link {
    padding: .5em;
    text-decoration: none;
    transition: letter-spacing 200ms ease;
  }
  .block__link:hover {
    letter-spacing: .1em;
  }